.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-image: url("/img/bakgrund.jpg");
  height: 300px;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.fa-linkedin-square {
  color: #0077B5;
}

.fa-github {
  color: black;
}
.fa-wordpress {
  color: #21759b;
}
